* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {

}

$c_pink: #f16d7f;
$c_black: #222;
$c_borders: #e6e6e6;
$c_bg_banner: #e8e8e8;
$c_placeholder: #a4a4a4;
$c_offer_bg: #dadad2;
$c_sale_bg: #222224;
$c_stars: #e4af48;

a{
    color:$c_black;
    text-decoration: none;
    transition: color ease-in-out .1s;
}
a:hover {
    color:$c_pink;
}

.btn {
    background-color: #f16d7f;
    line-height: 48px;
    font-size: 15px;
    color: #ffffff;
    height:48px;
    padding-left:24px;
    padding-right:19px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    img {
        margin-left:9px;
    }
}
.btn:hover {
    color:#FFF;
}

.btn.btn-w {
    color: #4a4a4a;
    border: 1px solid #eaeaea;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #FFF;
    transition: all ease-in-out 0.1s;
}

.btn.btn-w:hover {
    color: #f16d7f;
    border: 1px solid #f16d7f;
}

.btn.btn-small {
    height: 35px;
    padding: 12px 12px;
    font-size: 11px;
    line-height: 11px;
    font-weight: 700;
    text-transform: uppercase;
}

.container {
    width:1140px;
    margin:0 auto;
}

.menu {
    list-style: none;
    height: 51px;
    display:flex;
    justify-content: center;
    align-items: center;
}


.input-custom {
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    color: #bcbcbc;
    padding:0px 10px;
}
.input-custom::placeholder {
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    color: #bcbcbc;
}
.input-custom_color {
    position:relative;
    .input-custom {
        padding-left:30px;
    }
}
.input-custom_color .input-custom__set-color{
    position:absolute;
    top: 28px;
    left: 16px;
    content:'';
    display:block;
    width:12px;
    height:12px;
    background-color: #2f2f2f;
}

@import "lib/fontawesome";
@import "styles/header";
@import "styles/dropdown";
@import "styles/menu";
@import "styles/banner";
@import "styles/offers";
@import "styles/fetured";
@import "styles/sale";
@import "styles/subscribe";
@import "styles/footer";
@import "styles/style_checkbox";

@import "styles/slider";

@import "styles/product_navigation";
@import "styles/product__layout";
@import "styles/product__sub-navigations";
@import "styles/product__filters";
@import "styles/product__sorts";
@import "styles/product__lead";


@import "styles/single__like-products";
@import "styles/single__product";



@import "styles/shopping-cart";