.fetured {
  margin-top:100px;
  .fetured__hedaer {
    color: $c_black;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    padding-bottom:16px;
  }
  .fetured__text {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 14px;
    color: #9f9f9f;
    padding-bottom:60px;
  }
  .fetured__products {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .fetured__product {
      width:261px;
      margin-bottom:40px;
      padding-bottom:21px;
      transition: all ease-in-out 0.2s;
      .product__image {
        position:relative;
        > img {
          width:100%;
          height:280px;
          border-image-width: unset;
        }
        .product__overlay {
          position:absolute;
          top:0;
          left:0;
          bottom:0;
          width:261px;
          background: rgba(0,0,0,0);
          transition: all ease-in-out 0.2s;
          display:flex;
          align-items: center;
          justify-content: center;
          color:#FFF;
          .product__add2cart {
            opacity: 0;
            display:flex;
            align-items: center;
            border: 1px solid #ffffff;
            padding: 10px 12px 7px 12px;
            color:#FFF;
            img {
              margin-right:8px;
            }
          }
        }
      }
      .product__name {
        padding-top:19px;
        padding-bottom:17px;
        padding-left:15px;
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        color: $c_black;
        display:block;
      }
      .product_price {
        padding-left:15px;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        color:$c_pink;
      }
    }
    .fetured__product:hover {
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
      .product__overlay {
        background: rgba(0,0,0,0.5);
        transition: all ease-in-out 0.2s;
        .product__add2cart {
          opacity: 1;
        }
      }
    }
  }
  .fetured__more {
    text-align: center;
  }
}